.calendars-container {
    display: block;
    max-width: 100%;
}
.calendar-control .right {
    float: right;
}

.calendar-control span {
    line-height: 30px;
    font-size: large;
}

.calendar-control .left {
    float: left;
}

.left, .right {
    border: 0;
    background: transparent;
    line-height: 30px;
    padding: 0 10px;
}

.calendar-control {
    text-align: center;
}

.calendar {
    display: inline-block;
    width: 260px;
    border: 1px gray solid;
    margin: 10px;
    padding: 10px;
    font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif;
}

.add-container {
    margin: 10px;
}

.add-cal {
    vertical-align: bottom;
}

.calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.date, .days, .result, .format {
    width: 100%;
    margin: 2px;
}

.days li {
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    margin: 2px;
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #484848;
    text-shadow: none;
}

.date li {
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    margin: 2px;
    display: inline-block;
    width: 30px;
    text-align: center;
    cursor: pointer;
    text-shadow: none;
}

.date li:hover {
    font-weight: bold;
    font-size: 16px;
    background-color: #ebf9fa;
}

li.actual-month:hover {
    color: #85DDDF;
}

li.other-month:hover {
    color: #E8E6E6;
}

.actual-month {
    color: #484848;
}

.other-month {
    color: #bdbbbb;
}

