.calendars-container {
    display: block;
    max-width: 100%;
}
.calendar-control .right {
    float: right;
}

.calendar-control span {
    line-height: 30px;
    font-size: large;
}

.calendar-control .left {
    float: left;
}

.calendar-control {
    text-align: center;
}

.calendar {
    display: inline-block;
    width: 240px;
    border: 1px gray solid;
    margin: 2px;
}

.add-cal {
    vertical-align: bottom;
}

.calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.date, .days, .result, .format {
    width: 100%;
}

.days li {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    margin: 2px;
    display: inline-block;
    border: 1px gray solid;
    width: 30px;
    text-align: center;
}

.date li {
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    margin: 2px;
    display: inline-block;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.date li:hover {
    font-size: 16px;
    font-weight: bold;
}

.actual-month {
    background-color: #a7a7a7;
    color: black;
}

.other-month {
    background-color: lightgray;
    color: #777777;
}

