.timers-container {
     display: flex;
    justify-content: center;
}

.timer-block {
    display: flex;
    justify-content: space-between;
}

.del-timer-btn {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    color:#FFFFFF;
    cursor: pointer;
}

.timer {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    color:#FFFFFF;
    cursor: pointer;
}

.timer-value {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    color: #FFFFFF;
}