.slider-container {
     margin-top: 100px;
     margin-right: auto;
     margin-left: auto;
     width: 500px;
 }

.slider-wrapper {
    position: relative;
    width: 500px;
    overflow: hidden;
}

.slider-wrapper ul {
    margin: 0;
    width: 2500px;
    list-style: none;
}

.slider-wrapper ul li {
    height: 300px;
    width: 500px;
    display: inline-block;
    background: #39f345;
    margin-right: -4px;
}

.slider-wrapper ul li:nth-child(1) {
    background: red;
}

.slider-wrapper ul li:nth-child(2) {
    background: blue;
}

.slider-wrapper ul li:nth-child(3) {
    background: goldenrod;
}

.slider-wrapper ul li:nth-child(4) {
    background: #FFF7B2;
}

.slider-wrapper ul li:nth-child(5) {
    background: deeppink;
}

.pagination {
    text-align: center;
    width: 100%;
}

.pagination li {
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 9px;
    font-weight: bolder;
    background-color: #a5a8b0;
}

.pagination li.active {
    background-color: #2e75bd;
}

.left, .right {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.left:hover, .right:hover {
    opacity: 0.5;
    background-color: #000;
}


ul {
    padding: 0;
}

.slider {
    position: relative;
    width: 300px;
    margin: auto;
    text-align: -webkit-center;
}

.controlArea {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}

#sliderGoBack {
    width: 20%;
    height: 100%;
}

#sliderGoForward {
    width: 20%;
    height: 100%;
}

#sliderStop {
    width: 60%;
    height: 100%;
}

.red {
    background-color: red;
    width: 300px;
    height: 200px;
}



.green {
    background-color: green;
    width: 300px;
    height: 200px;
}

.blue {
    background-color: blue;
    width: 300px;
    height: 200px;
}

.yellow {
    background-color: yellow;
    width: 300px;
    height: 200px;
}

.slides {
    display: none;
}

.activeSlide {
    display: block;
}

.dots {
    position: relative;
    text-align: center;
    bottom: 25px;
}

.dots li {
     list-style: none;
     width: 9px;
     height: 9px;
     background-color: black;
     border-radius: 50%;
     display: inline-block;
     cursor: pointer;
}

.activeDot {
    background-color: white;
}