#pfo-nvbar{
    position: fixed;
    width: 100%;
    height: 100px;
    right: 17px;
    z-index: 1;
    background-color: darkseagreen;
}

#pfo-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-left: 20%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -2;
}

.light{
    background-color: #FFF7B2;
}

.dark{
    background-color: #8D8C8A;
}

#con{
    z-index: -1;
}

div #myButtons {
    position: fixed;
    padding-top: 4px;
    right: 5%;
    opacity: .85;
}

#myButtons .btn{
    padding: 8px 14px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 6px;

}

#myButtons .btn .fas{
    font-size: 0;
}


div #push.btn-group {
    width: 100%;
    background-color: orange;
    position:relative;
    padding-left: 80%;

    margin-top: 63px;
}

 div.btn-group i{
    font-size: 0;

}

button.btn-secondary1{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    background-color: #6C757D;
    font-weight: bold;
    color: #D6C8FF;
}


button.btn-secondary{
    background-color: #6C757D;
    font-weight: bold;
    color: #D6C8FF;
    width: fit-content;
}

button.btn-secondary1:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

button.btn-secondary:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

@media screen and (max-width: 1199px) {
    #myButtons .btn{
        padding: 8px 14px;
        font-size: 16px;
        line-height: 1.3333333;
        border-radius: 6px;
    }
}


@media screen and (max-width: 991px) {
    #myButtons .btn{
        padding: 6px 10px;
        font-size: 12px;
        line-height: 1.42857143;
        border-radius: 4px;
    }
}

@media screen and (max-width: 767px) {
    #myButtons .btn{
        padding: 4px 8px;
        font-size: 0;
        line-height: 1.5;
        border-radius: 3px;
    }

    #myButtons .btn .fas{
        font-size: 20px;
    }
}

@media screen and (max-width: 575px) {
    #pfo-nvbar{
        left: 115px;
    }
    #pfo-content {
        padding-left: 115px;
    }

    #myButtons .btn{
        padding: 1px 5px;
        font-size: 0;
        line-height: 1.5;
        border-radius: 3px;
    }

    #myButtons .btn .fas{
        font-size: 18px;
    }

}
@media screen and (max-width: 1199px){
    div #push.btn-group {
        padding-left: 73%;
    }

}
@media screen and (max-width: 991px){
    div #push.btn-group {
        padding-left: 67%;
    }

}

@media screen and (max-width: 767px) {
    div #push.btn-group {
        padding-left: 65%;
    }

    button.btn {
        font-size: 0;
    }

    div.btn-group i {
        font-size: 18px;
    }
}
@media screen and (max-width: 575px) {
    div #push.btn-group {
        padding-left:28%;

    }
    button.btn{
        font-size: 0;
    }
    div.btn-group i{
        font-size: 14px;
    }
}
@media screen and (max-width:375px ){
    div #push.btn-group {
        padding-left:15%;

    }
    button.btn{
        font-size: 0;
    }
    div.btn-group i{
        font-size: 14px;
    }


}






