#pfo-sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: darkseagreen;
}

#pfo-nvbar{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: darkseagreen;
}

#pfo-content{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    padding-left: 200px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}
