#pfo-nvbar{
    position: fixed;
    width: 100%;
    height: 100px;
    right: 17px;
    z-index: 1;
    background-color: darkseagreen;
}

#pfo-content{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-left: 20%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -2;
}

#con{
    z-index: -1;
}

#myButtons {
    position: fixed;
    padding-top: 20px;
    right: 5%;
}

#myButtons .btn{
    padding: 8px 14px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 6px;
}

#myButtons .btn .fas{
    font-size: 0;
}

@media screen and (max-width: 1199px) {
    #myButtons .btn{
        padding: 8px 14px;
        font-size: 16px;
        line-height: 1.3333333;
        border-radius: 6px;
    }
}

@media screen and (max-width: 991px) {
    #myButtons .btn{
        padding: 6px 10px;
        font-size: 12px;
        line-height: 1.42857143;
        border-radius: 4px;
    }
}

@media screen and (max-width: 767px) {
    #myButtons .btn{
        padding: 4px 8px;
        font-size: 0;
        line-height: 1.5;
        border-radius: 3px;
    }

    #myButtons .btn .fas{
        font-size: 20px;
    }
}

@media screen and (max-width: 575px) {
    #pfo-nvbar{
        left: 115px;
    }
    #pfo-content {
        padding-left: 115px;
    }

    #myButtons .btn{
        padding: 1px 5px;
        font-size: 0;
        line-height: 1.5;
        border-radius: 3px;
    }

    #myButtons .btn .fas{
        font-size: 18px;
    }
}