#pfo-sidebar {
    background-color: #2e75bd;
    width: 150px;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 2;
}

#pfo-sidebar img {
    width: 100%;
    height: auto;
}

#pfo-sidebar ul {
    max-height: 500px;
    overflow-y: auto;
}

#pfo-sidebar li {
    text-align: center;
}

#pfo-sidebar a {
    color: #FFF;
}

#pfo-sidebar a:hover {
    background-color: #286090;
    border-color: #204d74;
}

#pfo-sidebar .logoContainer {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background: url("../images/logo.png") no-repeat;
    background-size: 100%;
}

#pfo-sidebar li .fas {
    font-size: 0;
}

@media screen and (max-width: 767px) {
    #pfo-sidebar {
        width: 70px;
    }

    #pfo-sidebar .logoContainer {
        height: 80px;
        width: 80px;

    }

    #pfo-sidebar li {
        font-size: 0;

    }

    #pfo-sidebar li .fas {
        font-size: 30px;
    }
}

@media screen and (max-width: 575px) {
    #pfo-sidebar {
        width: 50px;
    }

    #pfo-sidebar .logoContainer {
        height: 50px;
        width: 50px;
        margin: auto;
    }

    #pfo-sidebar li {
        font-size: 0;

    }

    #pfo-sidebar li .fas {
        font-size: 20px;
    }
}