.form {
    width: 30%;
    margin-bottom: 20px;
}

.cardInfo {
    color: cadetblue;
}

.error {
    border: 1px solid #ff0700;
 }

.card {
    padding: 25px;
    background-color: #62e558;
    border: solid 1px;
    border-radius: 42px;
}



.cardsStacked {
    display: block;
    padding: 25px;
    max-width: 100%;
    height: 280px;
    background-size: 100% 100%;
}

.error-message {
    color: #ff0700;
}