.form {
    width: 30%;
    margin-bottom: 20px;
}

.cardInfo {
    color: cadetblue;
}

#blah {
    width: 50px;
}

.error {
    border: 1px solid #ff0700;
 }

.success {
    border: 1px solid #39f345;
 }

.card {
    padding: 25px;
    background-color: #62e558;
    border: solid 1px;
    border-radius: 42px;
    font-weight: bold;
}

.cardsStacked {
    display: flex;
    padding: 25px;
    max-width: 100%;
    height: 300px;
    background-size: 100% 100%;
}
